.well
  = bootstrap_form_for @model_object, url: form_path, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
    .form-group
      .col-sm-10.col-sm-offset-2
        =f.alert_message 'Please fix the errors below.', error_summary: false, class: 'alert alert-danger'
    =f.text_field :subj, placeholder: 'Subject'
    =f.text_area :descr, placeholder: 'Description', class: 'vresize'
    .form-group
      .col-sm-6
        =f.text_field :start_date, placeholder: 'Start Date', label_col: 'col-xs-4', control_col: 'col-sm-8', 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd'
        =f.collection_select(:issue_priority_id, IssuePriority.active.order(:element_order), :id, :title, {selected: @model_object.issue_priority_id || IssuePriority.default.first.id, prompt: 'Select priority', label_col: 'col-xs-4', control_col: 'col-sm-8'})
        =f.text_field :estimated_time, placeholder: 'Estimated time', label_col: 'col-xs-4', control_col: 'col-sm-8'
      .col-sm-6
        =f.text_field :due_date, placeholder: 'Due Date', label_col: 'col-xs-4', control_col: 'col-sm-8', 'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd'
        =f.collection_select(:issue_status_id, IssueStatus.active.order(:element_order), :id, :title, {selected: @model_object.issue_status_id || IssueStatus.default.first.id, prompt: 'Select status', label_col: 'col-xs-4', control_col: 'col-sm-8'})
    .form-group
      .col-sm-10.col-sm-offset-2
        =f.submit @model_object.persisted? ? :Update : :Create, class: 'btn btn-primary', wrapper: {class: 'has-warning'}
        =link_to(:Delete, issue_path(@model_object), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }) if @model_object.persisted?
        =button_tag :Cancel, class: 'btn btn-default', type: :reset
