= render layout: 'crud/form' do |f|
  = f.text_field :title, placeholder: 'title'
  = f.text_area :descr, placeholder: 'description', class: 'vresize'
  = f.collection_select(:parent_id, Project.all, :id, :title, {prompt: 'Select'})