%h3 Projects
= grid @project_grid do |g|

  - g.blank_slate "There is no any projects"

  - g.column name: 'ID', attribute: 'id', ordering: false, filter: false

  - g.column name: 'Title', attribute: 'title'

  - g.column name: 'Description', attribute: 'descr' do |p|
    - truncate p.descr, length: 30, separator: ' '

  - g.column name: 'Status', attribute: 'status', filter_type: :custom_dropdown, custom_filter: {archived: 0, active: 1}

  - g.column do |p|
    - link_to('Edit', edit_project_path(p)) + ' ' +
    - link_to('Delete', project_path(p), method: :delete, data: {confirm: 'Are you sure?'})
