%h3 Projects
%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Title
      %th Body
      %th Actions
  %tbody
    - @projects.each_with_index do |p, i|
      %tr
        %td= i + 1
        %td= p.title
        %td= truncate p.body, length: 30, separator: ' '
        %td
          =link_to 'edit', edit_project_path(p)
          =link_to 'delete', edit_project_path(p)
