%h3 Projects

= datagrid_form_for @grid_model_object, url: request.path
= datagrid_table(@grid_model_object, html: {class: 'table table-striped'})
= paginate @grid_model_object.assets, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm'
