.well
  = form_for @project, url: {action: "create"}, html: {class: "form-horizontal"} do |f|
    %fieldset
      %legend New project
      .form-group
        %label.col-lg-2.control-label Title
        .col-lg-10
          =f.text_field :title, class: 'form-control', placeholder: 'title'
      .form-group
        %label.col-lg-2.control-label Alias
        .col-lg-10
          =f.text_field :title, class: 'form-control', placeholder: 'alias'
      .form-group
        %label.col-lg-2.control-label Description
        .col-lg-10
          =f.text_area :descr, size: "60x5", class: 'form-control', placeholder: 'description'
      .form-group
        %label.col-lg-2.control-label Parent
        .col-lg-10
          =f.collection_select(:parent_id, Project.all, :id, :title, {:prompt => 'Select'}, {class: 'form-control'})
      .form-group
        .col-lg-10.col-lg-offset-2
          %button.btn.btn-default{type: 'reset'} Cancel
          =f.submit "Create", class: 'btn btn-primary'
