%h3 Projects
%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Title
      %th Body
      %th Actions
  %tbody
    - @projects.each_with_index do |p, i|
      %tr
        %td= i + 1
        %td= p.title
        %td= p.body
        %td edit
