%h3 Edit Settings

- content_for :delete do
  - '<span></span>'

= render layout: 'crud/form' do |f|
  =f.text_field :site_name, placeholder: 'Site name'
  =f.text_field :host_name, placeholder: 'Host name'