%h3 Edit Settings

- content_for(:form_url) {settings_path}
- content_for(:delete) { '<span></span>' }

= render layout: 'crud/form' do |f|
  =f.text_field :site_name, placeholder: 'Site name'
  =f.text_field :host_name, placeholder: 'Host name'