%h3 Edit user

= render layout: 'admin/users/form' do |f|
  .form-group
    %a.col-sm-10.col-sm-offset-2{'data-toggle' => 'collapse', href: '#collapseOne'}
      Change password
  #collapseOne.panel-collapse.collapse{class: UserHelper.password_errors(@user) ? 'in': ''}
    = f.password_field :password, placeholder: 'password'
    = f.password_field :password_confirmation, placeholder: 'confirm password'