%h3 Users

= datagrid_form_for @users_grid, url: request.path
= datagrid_table(@users_grid, html: {class: 'table table-striped'})
= paginate @users_grid.assets, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm'

= link_to 'New', new_user_path, class: 'clearfix'