.panel-group{role: "tablist"}

  .list-group.panel.panel-default
    - LeftMenu.instance.prepare_items.items.each_with_index do |(key, element), index|
      = render 'layouts/left_menu_tab', element: element if element[:type] == :tab
      = render 'layouts/left_menu_item', element: element if element[:type] == :item
