.list-group
  =link_to 'Projects', projects_path, class: 'list-group-item'
  =link_to 'New project', new_project_path, class: 'list-group-item'

- if @project_param
  .list-group
    =link_to 'Issues', project_issues_path(@project_param), class: 'list-group-item'
    =link_to 'New issue', new_project_issue_path(@project_param), class: 'list-group-item'
    =link_to 'News', '#', class: 'list-group-item'
    =link_to 'Wiki', '#', class: 'list-group-item'
